[submodule "SARAH"]
	path = SARAH
	url = https://github.com/restrepo/SARAH.git
[submodule "SPHENO"]
	path = SPHENO
	url = https://github.com/restrepo/SPHENO.git
[submodule "madgraph"]
	path = madgraph
	url = https://github.com/restrepo/madgraph.git
[submodule "calchep"]
	path = calchep
	url = https://github.com/restrepo/calchep.git
[submodule "micromegas"]
	path = micromegas
	url = https://github.com/restrepo/micromegas.git
[submodule "SSP"]
	path = SSP
	url = https://github.com/restrepo/SSP.git
